[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://git.code.sf.net/p/vim-latex/vim-latex
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/NERDtree"]
	path = vim/bundle/NERDtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/vim-lua"]
	path = vim/bundle/vim-lua
	url = git@github.com:xolox/vim-lua-ftplugin.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
